body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #bd081c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.navbar-pinterest {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bd081c;
    z-index: 1000;
}
.logo img {
    width: 50px;
    height: auto;
}
.finder {
    padding: 5px;
    width: 200px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    margin-top: 60px;
}

.pin {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pin img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}


.pin p {
    padding: 10px;
    margin: 0;
    font-size: 14px;
    color: #333;
}
@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
}